.middle-area {
    height: 200px;
    background-size: cover;
    background-image: url("https://cdn.shopify.com/s/files/1/0108/7370/0415/files/bg-3.jpg?v=1580819493");
    background-repeat: no-repeat;
    position: inherit;
    float: inherit;
    width: 100%;
    height: 200px;
}

.centered {
    text-align: center;
    color: #000;
    vertical-align: middle;
    padding: 30px;



}

@media only screen and (max-width:576px) {
    .input-field {
        width: 100%;
    }

}